<!DOCTYPE >
<html>

	<head><title> Blood Group Search Portal GECT </title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 </head>
 
 
	<body style="text-align:center">
 
 <form class="form-horizontal" method="POST">
<!-- Form Name -->
<fieldset>

<!-- Form Name -->
<legend>Blood Group Data Entry</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="name" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="group">Blood Group</label>  
  <div class="col-md-4">
  <input id="group" name="group" type="text" placeholder="eg: B+ve" class="form-control input-md" required="">
    
  </div>


</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="group">Year of Passout</label>  
  <div class="col-md-4">
  <input id="year" name="year" type="text" placeholder="eg: 2017" class="form-control input-md" required="">
</div>    
  </div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="gender">Gender</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="gender-0">
      <input type="radio" name="gender" id="gender-0" value="1" checked="checked">
      Male
    </label>
	</div>
  <div class="radio">
    <label for="gender-1">
      <input type="radio" name="gender" id="gender-1" value="2">
      Female
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dept">Department</label>  
  <div class="col-md-4">
  <input id="dept" name="dept" type="text" placeholder="eg: ComputerScience    (Please don't use space )" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone">Phone no</label>  
  <div class="col-md-4">
	  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" required="">
	  </div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
  </div>
</div>

</fieldset>
</form>

<a href="/" style="float:left; padding:5px">Back to Search </a>

	</body>







</html>
