<!DOCTYPE>
<html>
<head>

<title>Blood Group Search Portal GECT </title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<body style="margin:0 auto; text-align:center;padding:0 ;">
<div class="row center-block">
<div class="col-sd-12 center-block">
	<h3 > Blood Group Search Portal GECT </h3>
</div>

<div class="col-sd-12 center-block" > 
	<form name="Search"  method='post'>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for desired Blood Group... eg: B+ve" name="search" size:"20" style="height:40px">
      <span class="input-group-btn" >
	<input type="Submit" class="btn btn-default"  style="height:40px"/>
        <!--<button class="btn btn-default" form="Search"  type="Submit" style="height:40px">Go!</button>-->
      </span>
    </div><!-- /input-group -->
	</form>
  </div>

</div>

<div class="col-sd-12 center-block" style="text-align:left;">
	
	<a href="/all" >Find details of All Student</a>
	<p style="float:right; padding-right:5px;"> Built with
		 <span style="color:red"> &#x2764;</span>
		<a href="https://in.linkedin.com/pub/akshay-nath/70/74b/13b"><i style="color:blue">Akshay</i></a>
		</p>
	<br/>
	<a href="/EnterDetails" >Enter Details of Student</a>
	
</div>
</body>
</html> 
