<!DOCTYPE>
<html>
<head>

<title> </title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<body style="margin:0 auto; text-align:center;padding:0 ;">
<div class="row center-block">
<div class="col-md-12 center-block">
	<h3 > Blood group search GECT </h3>
</div>

<div class="col-md-12 center-block" > 
	<form name="Search"  method='post'>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for people with desired Blood Group..." name="search" size:"20" style="height:40px">
      <span class="input-group-btn" >
	<input type="Submit" class="btn btn-default"  style="height:40px"/>
        <!--<button class="btn btn-default" form="Search"  type="Submit" style="height:40px">Go!</button>-->
      </span>
    </div><!-- /input-group -->
	</form>
  </div>

</div>

<div class="col-md-6 center-block" style="text-align:left;">
	
	<a href="/all" >Find details of All Student</a>
	<br/>
	<a href="/EnterDetails" >Enter Details of Student</a>
</div>
</body>
</html> 
